<p>first works! for {{ message | fromNow}}</p>
<div class="card-body">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username-first" type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"  
                [ngClass]="{ 'is-valid': submitted && f['username'].valid}" />
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback" style="display:block;">
                <div *ngIf="f['username'].errors['required']">Username is required</div>
            </div>

        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" 
                [ngClass]="{ 'is-valid': submitted && f['password'].valid}" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']"> Password must be at least 7 characters long.</div>
                <div *ngIf="f['password'].errors['cannotContainSpace']">Password can not contain space.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="useremail">User E-mail</label>
            <input type="email" formControlName="useremail" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['useremail'].errors }" 
                [ngClass]="{ 'is-valid': submitted && f['useremail'].valid}" />
            <div *ngIf="submitted && f['useremail'].errors" class="invalid-feedback">
                <div *ngIf="f['useremail'].errors['required']">E-mail is required</div>
                <div *ngIf="f['useremail'].errors?.['email']" class="text-danger">Please provide a valid email address
                </div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary mt-1" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
        </div>
    </form>
</div>